header.header(role="banner")

	a.header--name(href='/')
		.role 書道家
		.name 龍玄

	.header--box

		.header--left
			p Ryugen
			p
				a(href='https://ryugen.jp' target='_blank') https://ryugen.jp

		.header--right
			p Gallery Jiyugaoka
			p 5-41-2, Okusawa Setagaya-ku, Tokyo, 153-0051 Japan.
			p Atlas Jiyugaoka Building 1F

		ul.header--list
			li
				a(href='about.html') about
					.border
			li
				a(href='profiles.html') profiles
					.border
			li
				a(href='works.html') works
					.border
			li
				a(href='interview.html') interview
					.border
			li
				a(href='access.html') access
					.border

		.header--float
			a(href='https://www.instagram.com/ryugen_official/' target='_blank')
				.instagram
			a(href='https://www.facebook.com/ryugenjapan' target='_blank')
				.facebook
