doctype html
html
  head
    meta(charset='UTF-8')
    title 書道家 龍玄 第五回　個展　「波動」
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='format-detection', content='telephone=no')
    meta(name='description', content='夢中を、解放しよう。ニューBMW X3 誕生。情熱あふれるプロフェッショナルが、夢中を解放するミッションに挑む「ROAD TO PASSION.」公開中。今なら、ニューBMW X3で行く夢中解放の旅など、抽選で20名様にプレゼント。')
    meta(name='keywords', content='BMW,BM,ビーエムダブリュー,ビーエム,夢中を解放しよう,夢中解放,mission,ミッション,X3,Xシリーズ,NewX3,ニューBMWX3,プレゼント,キャンペーン')
    meta(property='og:title', content='書道家 龍玄 第五回　個展　「波動」')
    meta(property='og:description', content='波動の高さ。それが龍玄が生み出す作品の真骨頂なのだろう。会場でその波動を大いに浴び、2018年の飛躍のきっかけにしていただけましたら幸いです。')
    meta(property='og:type', content='website')
    meta(property='og:url', content='https://exhibition5.ryugen.jp/')
    meta(property='og:image', content='https://exhibition5.ryugen.jp/og.jpg')
    meta(property='og:site_name', content='書道家 龍玄 第五回　個展　「波動」')

    link(rel='stylesheet', href='/css/index.css')
  body

    include _header

    block content

    include _footer

  script(src='/js/vendor.bundle.js')
  script(src='/js/index.bundle.js')