doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    title 書道家 龍玄 第五回　個展　「波動」
    meta(name='viewport', content='width=device-width, initial-scale=0.80, minimum-scale=0.80, maximum-scale=1.0, user-scalable=no, viewport-fit=cover')
    meta(name='format-detection', content='telephone=no')

    meta(name='description', content='波動の高さ。それが龍玄が生み出す作品の真骨頂なのだろう。会場でその波動を大いに浴び、2018年の飛躍のきっかけにしていただけましたら幸いです。')
    meta(name='keywords', content='書道家,龍玄,個展,波動,日本,書道,japan,calligraphy')
    meta(property='og:title', content='書道家 龍玄 第五回　個展　「波動」')
    meta(property='og:description', content='波動の高さ。それが龍玄が生み出す作品の真骨頂なのだろう。会場でその波動を大いに浴び、2018年の飛躍のきっかけにしていただけましたら幸いです。')
    meta(property='og:type', content='website')
    meta(property='og:url', content='https://exhibition5.ryugen.jp/')
    meta(property='og:image', content='https://exhibition5.ryugen.jp/og.jpg')
    meta(property='og:site_name', content='書道家 龍玄 第五回　個展　「波動」')

    link(rel='stylesheet', href='/css/index.css')

  body

    include _header

    block content

    include _footer

  script(src='/js/vendor.bundle.js')
  script(src='/js/index.bundle.js')

  <!-- Global site tag (gtag.js) - Google Analytics -->
  script(async src="https://www.googletagmanager.com/gtag/js?id=UA-81417020-1")
  script
    | window.dataLayer = window.dataLayer || [];
    | function gtag(){dataLayer.push(arguments);}
    | gtag('js', new Date());
    | gtag('config', 'UA-81417020-1');
