.about {

  h1 {
    font-weight: 900;
    letter-spacing: 0.1em;
    font-size: 18px;
    margin: 0 0 75px;
  }

  h3 {
    font-weight: 900;
    letter-spacing: 0.1em;
    font-size: 18px;
    margin: 0 0 55px;

    @media (max-width:800px) {
      margin: 0 0 25px;
    }
  }

  p {
    font-size: 12px;
    font-weight: 500;
    line-height: 2em;
    margin: 0 0 45px;
  }

  &--bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    position: relative;
    
    @media (max-width:800px) {
      display: block;
    }
  }

  &--left{
    grid-column: 1;
    grid-row: 1;
    padding: 0 35px 0 0;
  }

  &--right {
    grid-column: 2;
    grid-row: 1;
  }

  &--float {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 20px;
    font-weight: 500;
  }

}