extends modules/_layout

block content

  section.about

    .about--top

      h1 第五回　個展　「波動」
      h3 「あなたの作品は波動が高い」
      p
        | そんなことを言われ続けて来た。<br>
        | しかし、実際のところ自分ではよくわからなかった。<br>
        | 最近になり、ようやくそのことを感じ取れるようになってきた気はする。
      
    .about--bottom
      .about--left
        h3 波動の高さ
        p
          | それが龍玄が生み出す作品の真骨頂なのだろう<br>
          | 会場でその波動を大いに浴び、<br>
          | 2018年の飛躍のきっかけにしていただけましたら幸いです。

      .about--right
        h3 GALLERY JIYUGAOKA
        p
          | 2017年12月16日(土) - 2017年12月19日(火)<br>
          | 11:00-20:00<br>
          | ※作家在廊予定時間は各日14:00-20:00

      .about--float 龍玄
