extends modules/_layout

block content

  section.access

    iframe.access--map(width="600" height="450" frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?q=%E6%9D%B1%E4%BA%AC%E9%83%BD%E4%B8%96%E7%94%B0%E8%B0%B7%E5%8C%BA%E5%A5%A5%E6%B2%A25%E4%B8%81%E7%9B%AE41-2%20%E3%82%A2%E3%83%88%E3%83%A9%E3%82%B9%E8%87%AA%E7%94%B1%E3%81%8C%E4%B8%98%E3%83%93%E3%83%AB%EF%BC%91F&key=AIzaSyCe0silct0I9keNqFyCq_8QcNptQ0rHkxU" allowfullscreen)

    .access--text

      h3 GALLERY JIYUGAOKA
      p
        | 〒 158-0083<br>
        | 東京都世田谷区奥沢5丁目41-2<br>
        | アトラス自由が丘ビル１F<br>
        a Google Mapで見る

      p.access--bottom
        | 2017年12月16日(土) - 2017年12月19日(火)<br>
        | 11:00 - 20:00<br>
        | ※作家在廊予定時間は各日14:00-20:00
