extends modules/_layout

block content

  section.interview

    .interview--left

      h1 「タイトル」
      p 見出し 見出し 見出し 見出し 見出し 見出し

      h2 「タイトル」
      p 見出し 見出し 見出し 見出し 見出し 見出し

      h3 「タイトル」
      p 見出し 見出し 見出し 見出し 見出し 見出し

      img(src='/img/interview1.jpg')
      img(src='/img/interview2.jpg')
      img(src='/img/interview3.jpg')

    .interview--right
      p
        | あああああああああいあああああああああいあああああああああい
        | あああああああああいあああああああああいあああああああああい
        | あああああああああいあああああああああいあああああああああい
        | あああああああああいあああああああああいあああああああああい
        | あああああああああいあああああああああいあああああああああい
      p
        | あああああああああいあああああああああいあああああああああい
        | あああああああああいあああああああああいあああああああああい
        | あああああああああいあああああああああいあああああああああい
        | あああああああああいあああああああああいあああああああああい
        | あああああああああいあああああああああいあああああああああい
