extends modules/_layout

block content

  section.profiles

    .profiles--top

      .profiles--left
        p 作品やパフォーマンスをご覧いただいた方の
        h3 「意識の覚醒」
        p
          | をテーマに活動を行う書道家。

      .profiles--right
        h3 【主な作品の提供先】
        ul
          li 防衛省広報誌「MAJOR」
          li 第64代横綱 曙太郎 様
          li ポルシェクラブジャパン 松本支部 様
          li ラーメン店「麺屋 翔」様
          li 一般社団法人 日本花押協会 様

    .profiles--bottom

      .profiles--left
        p
          | 2015年3月には、<br>
          | 世界的ロックバンド「KISS」とのコラボレーション企画を実現し、<br>
          | 日本テレビ「NEWS ZERO」にて取り上げられる。

      .profiles--right
        p
          | ４日間という短い日程ではございますが、一人でも多くの方に足をお運びいただけましたら幸いです。<br>
          | 縦1m60cm、横2m50cmの大作「波動」とともに、皆様のご来場を心よりお待ちしております。

      .profiles--float
        img(src='/img/profiles.jpg')
        p 龍玄
