extends modules/_layout

block content

  section.works
    a(data-title='「清」' data-description='それは 目を見張るような清々しさのなかで')
      .work.work1
    a(data-title='「鳥」' data-description='それは 目を見張るような清々しさのなかで')
      .work.work2
    a(data-title='「花」' data-description='それは 目を見張るような清々しさのなかで')
      .work.work3
    a(data-title='「繋」' data-description='それは 目を見張るような清々しさのなかで')
      .work.work4
    a(data-title='「天使」' data-description='それは 目を見張るような清々しさのなかで')
      .work.work5
    a(data-title='「音階」' data-description='それは 目を見張るような清々しさのなかで')
      .work.work6
    a(data-title='「桜」' data-description='それは 目を見張るような清々しさのなかで')
      .work.work7
    a(data-title='「瑞兆」' data-description='それは 目を見張るような清々しさのなかで')
      .work.work8
    a(data-title='「飛」' data-description='それは 目を見張るような清々しさのなかで')
      .work.work9
    a(data-title='「海」' data-description='それは 目を見張るような清々しさのなかで')
      .work.work10
    a(data-title='「風」' data-description='それは 目を見張るような清々しさのなかで')
      .work.work11
    a(data-title='「涼」' data-description='それは 目を見張るような清々しさのなかで')
      .work.work12
    a(data-title='「NO LIMIT」' data-description='それは 目を見張るような清々しさのなかで')
      .work.work13
    a(data-title='「優芳」' data-description='それは 目を見張るような清々しさのなかで')
      .work.work14
    a(data-title='「静」' data-description='それは 目を見張るような清々しさのなかで')
      .work.work15
    a(data-title='「」' data-description='それは 目を見張るような清々しさのなかで')
      .work.work16
    a(data-title='「破」' data-description='それは 目を見張るような清々しさのなかで')
      .work.work17
    a(data-title='「炎」' data-description='それは 目を見張るような清々しさのなかで')
      .work.work18
    a(data-title='「輪廻」' data-description='それは 目を見張るような清々しさのなかで')
      .work.work19
    a(data-title='「登山」' data-description='それは 目を見張るような清々しさのなかで')
      .work.work20
    a(data-title='「花」' data-description='それは 目を見張るような清々しさのなかで')
      .work.work21
    a(data-title='「鏡」' data-description='それは 目を見張るような清々しさのなかで')
      .work.work22
    a(data-title='「妙」' data-description='それは 目を見張るような清々しさのなかで')
      .work.work23
    a(data-title='「」' data-description='それは 目を見張るような清々しさのなかで')
      .work.work24

  section.workDetail
    .workDetail--title
      h3 「文字」
      h4

    a.workDetail--back ←Index

    .workDetail--box
      img(src='/img/thumb/1.jpg')
      a.workDetail--box__prev ←
      a.workDetail--box__next →
